@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

/* universal selector */
::-webkit-scrollbar {
    display: none;
}

/* Select all images */
/* img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
} */

section {
    min-height: 100vh;
    /* width: 100vw; */
}

#home, #about, #resume, #skills, #projects, #testimonials,#contact {
    position: relative;
    min-height: 100vh;
    transform-style: preserve-3d;
}


/* logo */
/* img[alt='logo'] {
    width: 5rem;
} */

/* from appview */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:  rgb(29, 29, 29) ;
    /* background-color: #010615; */
  }

.nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: rgb(29, 29, 29);
}

nav a.router-link-exact-active {
    color: #42b983
}
  
/* .offcanvas-nav {
    display: flex;
    flex-direction: column;
}

.nav-inline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.navlinks {
    text-decoration: none !important;
}


.navbar {
    background-color: black !important;
}

.nav {
    background-color: black !important;
}



/* wrapper */

:is(.wrapper) {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

footer {
    color: #fff;
    background: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

footer p {
    padding-top: 2rem;
}

/* section */



/* media query */

@media (width < 800px) {
    #home .row {
        display: block;
        height: auto;
    }
}

/* home */



html {
    height: 100%;
    margin: 0;
    overflow-x: auto;
    /* box-sizing: border-box; */
}

body {
    min-height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    background: #050505;
    overflow-x: hidden;
    overflow-y: scroll;
}



 #about {
    position: relative;
    
    min-height: 100vh;
    transform-style: preserve-3d;
    
}


.headings {
    font-family: "Orbitron", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3rem;
}

/* about */

#about {
    /* background: #060c21; */
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#about .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

#about p {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

#about .par {
    padding-top: 2rem;
}

#about .info {
    width: 60%;
    margin: 0 auto;
}

#about h5 {
    font-family: "Poppins";
}


/* resume */

#resume {
    background: #050505;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#resume .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

#resume p {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

/* skills */


#skills {
    /* background: #060c21; */
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#skills .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

#skills p {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
}


/* projects */

#projects {
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}

#projects .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

#projects p {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

#projects h5 {
    font-family: "Poppins";
}

/* Testimonials */

#testimonials {
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#testimonials .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

#testimonials p {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#testimonials h5 {
    font-family: "Poppins";
}

/* contact */

#contact {
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}

#contact .text {
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5); */
    
    text-shadow: 2px 2px 5px #DAA520, 5px 5px 70px rgba(255, 255, 255, 0.3);
}

#contact p,
#contact label {
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

#contact input,
#contact textarea {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
    border-radius: 0px 20px;
}

#contact button {
    /* background-color: rgb(143, 232, 232); */
    background-color: #fff;
    /* border-color: #fff; */
    color: #000;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 0 0 15px cyan;
}

#contact i {
    color: #fff;
}

#contact a {
    color:#fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#contact a:hover,
#contact i:hover {
    color: cyan
}
